<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get password</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='common.css') }}"
    />

    <script src="{{ url_for('static', filename='jQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='encryption.js') }}"></script>
  </head>
  <body>
    <div id="get">
      Encryption type: <input type="number" name="enc-value" /><br />
      <p class="enc-message">Enter a value between 1 and 70</p>
      <br />

      Scrambler type: <input type="number" name="scr-value" /><br />
      <p class="scr-message">Enter a value between 1 and 10</p>
      <br />

      <p class="ser-message">Enter the service whose password you want</p>
      <input type="text" name="ser-value" />
      <br />

      <p style="color: brown">
        Using the wrong encryption and scramber value will <br />
        still give an answer but with wrong decryption <br />
        algorithm, hence the wrong password. <br />
      </p>

      <button>Get password</button>
      <p><b>Result: </b></p>
      <p class="returned"></p>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      $('#get > button').click(function () {
        /***** VALIDATIONS *****/

        let allGood = [false, false, false]
        // corresponds to enc, scr and ser respectively

        let enc = parseInt($('#get > input[name="enc-value"]').val())
        if (isNaN(enc) || enc < 1 || enc > max_config_value + 1) {
          // Invalid number
          $('#get > .enc-message').css('color', 'red')
          $('#get > .enc-message').css('font-weight', 'bold')
        } else {
          $('#get > .enc-message').css('color', 'white')
          $('#get > .enc-message').css('font-weight', 'normal')
          allGood[0] = true
          enc -= 1
          // config parameter in encrypt and decrypt function
          // can only take values between 0 and no of characters minus 1
          // For user convinence we ask for value between 1 and 70
          // and the decrement here
        }

        const scr = parseInt($('#get > input[name="scr-value"]').val())
        if (isNaN(scr) || scr < 1 || scr > 10) {
          // Invalid number
          $('#get > .scr-message').css('color', 'red')
          $('#get > .scr-message').css('font-weight', 'bold')
        } else {
          $('#get > .scr-message').css('color', 'white')
          $('#get > .scr-message').css('font-weight', 'normal')
          allGood[1] = true
        }

        const ser = $('#get > input[name="ser-value"]')
          .val()
          .toLowerCase()
          .trim()
        if (ser == '') {
          // No service name given
          $('#get > .ser-message').css('color', 'red')
          $('#get > .ser-message').css('font-weight', 'bold')
        } else {
          $('#get > .ser-message').css('color', 'white')
          $('#get > .ser-message').css('font-weight', 'normal')
          allGood[2] = true
        }

        if (allGood.every(item => item === true)) {
          // Everything okay
          // Get encrypted password from server
          $.ajax({
            type: 'POST',
            data: { ser: ser },
            url: '/get-password',
            success: function (e) {
              if (e == 0) {
                $('#get > .returned').text(
                  'You havent stored password of that service yet. Make sure to check spelling'
                )
              } else {
                const pword = decrypt(e, enc, scr)
                $('#get > .returned').text(`Your password is: ${pword}`)
              }
            }
          })
        }
      })
    })
  </script>
</html>
