<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Set password</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='common.css') }}"
    />

    <script src="{{ url_for('static', filename='jQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='encryption.js') }}"></script>
  </head>

  <body>
    <h3>Set password for a new service here</h3>
    <h3>If password already exists, it will be replaced</h3>
    <br />

    <div id="set">
      Encryption type: <input type="number" name="enc-value" /><br />
      <p class="enc-message">Enter a value between 1 and 70</p>
      <br />

      Scrambler type: <input type="number" name="scr-value" /><br />
      <p class="scr-message">Enter a value between 1 and 10</p>

      <p style="color: brown">
        Make sure to use the same encryption and scrambler <br />
        number which you used for other passwords. Else, <br />
        this password will be encrypted with different algorithms <br />
      </p>

      <hr />

      <p class="ser-message">
        Enter the service whose password you want to set
      </p>
      <input type="text" name="ser-value" />
      <br />

      <p style="color: brown">
        make sure that the spelling of the service is correct. <br />
        If not, password will be stored with a different name <br />
      </p>

      <!-- Getting password -->

      <hr />

      <p class="pass1-message">Enter password:</p>
      <input type="password" name="pass1" />
      <br />

      <p class="pass2-message">Re enter password:</p>
      <input type="password" name="pass2" />
      <br />

      <button>Set password</button>
      <p><b>Result: </b></p>
      <p class="returned"></p>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      $('#set > button').click(function () {

        /****** VALIDATION PHASE ******/

        let allGood = [false, false, false, false, false, false]
        // corresponds to enc, scr, ser, password1, password2 and password match respectively

        /*** Validating encryption type ***/
        let enc = parseInt($('#set > input[name="enc-value"]').val())

        if (isNaN(enc) || enc < 1 || enc > max_config_value + 1) {
          // Invalid number
          $('#set > .enc-message').css('color', 'red')
          $('#set > .enc-message').css('font-weight', 'bold')
        } else {
          $('#set > .enc-message').css('color', 'white')
          $('#set > .enc-message').css('font-weight', 'normal')
          allGood[0] = true
          enc -= 1
          // config parameter in encrypt and decrypt function
          // can only take values between 0 and no of characters minus 1
          // For user convinence we ask for value between 1 and 70
          // and then decrement here
        }

        /*** Validating scramber type ***/
        const scr = parseInt($('#set > input[name="scr-value"]').val())

        if (isNaN(scr) || scr < 1 || scr > 10) {
          // Invalid number
          $('#set > .scr-message').css('color', 'red')
          $('#set > .scr-message').css('font-weight', 'bold')
        } else {
          $('#set > .scr-message').css('color', 'white')
          $('#set > .scr-message').css('font-weight', 'normal')
          allGood[1] = true
        }

        /*** Validating service name ***/
        const ser = $('#set > input[name="ser-value"]')
          .val()
          .toLowerCase()
          .trim()
        if (ser == '') {
          // No service name given
          $('#set > .ser-message').css('color', 'red')
          $('#set > .ser-message').css('font-weight', 'bold')
        } else {
          $('#set > .ser-message').css('color', 'white')
          $('#set > .ser-message').css('font-weight', 'normal')
          allGood[2] = true
        }

        /*** validating password ***/
        const pass1 = $('#set > input[name="pass1"]').val().trim()
        if (pass1 == '') {
          // Not given
          $('#set > .pass1-message').css('color', 'red')
          $('#set > .pass1-message').css('font-weight', 'bold')
        } else {
          $('#set > .pass1-message').css('color', 'white')
          $('#set > .pass1-message').css('font-weight', 'normal')
          allGood[3] = true
        }

        /*** validating retyped password ***/
        const pass2 = $('#set > input[name="pass2"]').val().trim()
        if (pass2 == '') {
          // Not given
          $('#set > .pass2-message').css('color', 'red')
          $('#set > .pass2-message').css('font-weight', 'bold')
        } else {
          $('#set > .pass2-message').css('color', 'white')
          $('#set > .pass2-message').css('font-weight', 'normal')
          allGood[4] = true
        }

        /*** matching passwords ***/
        if (pass1 != pass2) {
          $('#set > .returned').html('Passwords do not match')
        } else {
          allGood[5] = true
        }

        /***** IF ALL VALIDATIONS PASSED *****/
        if (allGood.every(item => item === true)) {
          const enc_password = encrypt(pass1, enc, scr)
          // Encrypting password

          // Send ajax call to server to store password
          $.ajax({
            type: 'POST',
            data: { ser: ser, enc_password: enc_password },
            url: '/set-password',
            success: function () {
              $('#set > .returned').html('Password added!!')
            }
          })
        }


      })
    })
  </script>
</html>
